.spell-editor
	position: fixed
	top: 0
	right: 0
	bottom: 0

	width: 300px

	overflow: visible

	.resize-handle
		width: 4px
		position: absolute
		top: 0
		left: -@width
		bottom: 0
		background-color: black

		cursor: ew-resize

	.code, .help
		background: white
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 27px

	ul
		position: absolute
		left: 0
		right: 0
		bottom: 0

		background-color: black